<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Medical Diagnosis &amp; A Machine Learning based web application | Home</title>

    <!-- Favicon  -->
    <link rel="icon" href="/templates/img1.jpg">

    <!-- Style CSS -->
    <link rel="stylesheet" href="/templates/style1.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="medilife-load"></div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <!-- Main Header Area -->
        <div class="main-header-area" id="stickyHeader">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 h-100">
                        <div class="main-menu h-100">
                            <nav class="navbar h-100 navbar-expand-lg">
                                <!-- Logo Area  -->
                                <a class="navbar-brand" href="index.html"><img src="img/core-img/logo.png" alt="Logo" style="width: 150px; height: auto;"></a>

                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#medilifeMenu" aria-controls="medilifeMenu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                                <div class="collapse navbar-collapse" id="medilifeMenu">
                                    <!-- Menu Area -->
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" href="index.html">Home</a>
                                                <a class="dropdown-item" href="about-us.html">About Us</a>
                                                <!-- <a class="dropdown-item" href="services.html">Services</a> -->
                                             
                                                <!-- <a class="dropdown-item" href="contact.html">Contact</a> -->
                                                <!-- <a class="dropdown-item" href="index-icons.html">All Icons</a> -->
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="about-us.html">About Us</a>
                                        </li>
                                        <!-- <li class="nav-item">
                                            <a class="nav-link" href="services.html">Services</a>
                                        </li>
                                      
                                        <li class="nav-item">
                                            <a class="nav-link" href="contact.html">Contact</a>
                                        </li> -->
                                    </ul>
                                    
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Hero Area Start ***** -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(img/bg-img/img1.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms"> AI Symptom Checker </h2>
                                <h6 data-animation="fadeInUp" data-delay="400ms">AI symptom checkers typically work by having users input their symptoms, either by selecting from predefined lists or typing them in. The system then analyzes the symptoms using algorithms that match the reported symptoms with patterns from vast medical datasets, including diagnostic criteria, patient records, clinical guidelines, and research papers. </h6>
                                <a href="Medical_Diagnosis-main\Medical_Diagnosis-main\templates\diabetes.html" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover Predictor <span>+</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(img/bg-img/img1.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">AI Symptom Checker</h2>
                                <h6 data-animation="fadeInUp" data-delay="400ms">The system considers additional factors like age, gender, medical history, and lifestyle to generate a more accurate list of potential conditions. In some cases, advanced symptom checkers may even integrate machine learning to improve accuracy over time as they learn from more user interactions and data.</h6>
                                <a href="http://127.0.0.1:5000/cancer" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover Predictor <span>+</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(img/bg-img/img1.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">AI Symptom Checker</h2>
                                <h6 data-animation="fadeInUp" data-delay="400ms"> AI symptom checkers offer several key benefits. First, they provide an easy and quick way to understand potential causes of symptoms, especially for people who may not have immediate access to healthcare. The tools can also help users decide whether to seek medical care or manage their symptoms at home.</h6>
                                <a href="http://127.0.0.1:5000/heart" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover Predictor <span>+</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(img/bg-img/img1.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">AI Symptom Checker</h2>
                                <h6 data-animation="fadeInUp" data-delay="400ms"> For those with mild symptoms or conditions that don’t require urgent care, symptom checkers can be a cost-effective alternative to visiting a doctor. Furthermore, they can help reduce unnecessary doctor visits for common ailments by providing more information for both patients and healthcare providers to discuss during consultations.</h6>
                                <a href="http://127.0.0.1:5000/liver" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover Predictor <span>+</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(img/bg-img/img1.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">AI Symptom Checker</h2>
                                <h6 data-animation="fadeInUp" data-delay="400ms">AI symptom checkers represent a valuable tool for improving health accessibility, offering users quick insights into their symptoms and potential conditions. While these tools are not a substitute for professional medical diagnoses, they serve as an excellent first step in understanding health concerns.</h6>
                                <a href="http://127.0.0.1:5000/malaria" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover Predictor <span>+</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(img/bg-img/img1.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">AI Symptom Checker</h2>
                                <h6 data-animation="fadeInUp" data-delay="400ms"> However, it is important for users to remember that the advice given is based on algorithms, and should always be confirmed by a healthcare professional, particularly for serious or life-threatening conditions. As AI continues to evolve, symptom checkers will likely become even more accurate and comprehensive, playing a greater role in helping individuals manage their health proactively.   </h6>
                                <a href="http://127.0.0.1:5000/pneumonia" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover Predictor <span>+</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Single Hero Slide -->
            
        </div>
    </section>
    <!-- ***** Hero Area End ***** -->
<br>
    <!-- ***** About Us Area Start ***** -->
    <center><p><h1>Features of our ML Web Page</h1></p></center>
    <br><section class="medica-about-us-area section-padding-100-20">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="medica-about-content">
                        <h2>We always try to add more and more diseases</h2>
                       
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="row">
                        <!-- Single Service Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-service-area d-flex">
                                <div class="service-icon">
                                    <i class="icon-doctor"></i>
                                </div>
                                <div class="service-content">
                                    <h5>The Best Prediction </h5>
                                  
                                </div>
                            </div>
                        </div>
                        <!-- Single Service Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-service-area d-flex">
                                <div class="service-icon">
                                    <i class="icon-blood-donation-1"></i>
                                </div>
                                <div class="service-content">
                                    <h5>Simple UX/UI</h5>
                                   
                                </div>
                            </div>
                        </div>
                        <!-- Single Service Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-service-area d-flex">
                                <div class="service-icon">
                                    <i class="icon-flask-2"></i>
                                </div>
                                <div class="service-content">
                                    <h5>Details of various diseases</h5>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- Single Service Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-service-area d-flex">
                                <div class="service-icon">
                                    <i class="icon-emergency-call-1"></i>
                                </div>
                                <div class="service-content">
                                    <h5>Our Data Sources</h5>
                                     </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** About Us Area End ***** -->

   
    

    <!-- ***** Features Area Start ***** -->
    <div class="medilife-features-area section-padding-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="features-content">
                        <h2>A new way to treat pacients in a revolutionary facility</h2>
                        <p>There is a general concern that intelligent machines can be dangerous to humanity. Yet an examination of human behavior and machine behavior reveals that the former can inherently carry a greater risk to human welfare than the latter. An analysis of errors committed by AI (artificial intelligence) and other errors committed by humans showed that the types, probabilities, implications and consequences of those two genres of errors vary to a large extent, despite the commonalities.</p>
                        <a href="https://internationaldirector.com/technology/ai-errors-vs-human-errors/" class="btn medilife-btn mt-50">View articles <span>+</span></a>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="features-thumbnail">
                        <img src="img/bg-img/medical1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Features Area End ***** -->

    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-area section-padding-100">
        <!-- Main Footer Area -->

        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="bottom-footer-content">
                            <!-- Copywrite Text -->
                            <div class="copywrite-text">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | SymptomSense 
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
</p>                      </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>
